<br>
<% if !signed_in? %>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Warbase</h1>
        <br>
        <h2 class="lead">Take over the city!</h3> <br>
          <%= button_to 'Sign in',  new_user_session_path, method: :get, class: "btn btn-primary" %>
      </main>

      <footer class="mastfoot mt-auto">
      </footer>
</div>

<% else %>
<p id="notice"><%= notice %></p>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
<h1>Home</h1>
  <div style='width:800px; height:800px;'>
    <div id="map" style='height: 100%'></div>
  </div>

  <!--<div style='width: 800px;'>
    <div id="geolocation" style='width: 800px; height: 400px;'></div>
  </div> -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <section class="table-responsive">
    </section>
  </div>
</main>
<% end %>

